body {
  margin: 0;
}

header {
  background-color: #0078D7;
  color: #ffffff;
  padding: 20px;
  padding-top: 5px;
}

nav img {
  position: relative;
  top: 8px;
}

#navigation-header {
  display: inline;
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
}

.navigation-link {
  color: white;
  font-size: 1.25em;
  padding-left: 60px;
  text-decoration: none;
}

#navigation-link-right {
  color: white;
  font-size: 1.25em;
  padding-left: 620px;
  text-decoration: none;
}

.navigation-link:hover, #navigation-link-right:hover {
  text-decoration: underline;
}

.top-header {
  text-align: center;
}

.main-content {
  margin-right: 30px;
  margin-left: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E3E3E3;
  padding: 25px;
  text-align: center;
}