body, html {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px; 
  line-height: 2;
}

/* Top header and navigation */
header {
  background-color: #0078D7;
  color: #ffffff;
}

nav img {
  position: relative;
  top: 10px;
}

#navigation-header {
  display: inline;
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
}

.navigation-link {
  color: white;
  font-size: 1.25rem;
  margin-left: 90px;
  text-decoration: none;
}

#navigation-link-right {
  color: white;
  font-size: 1.25rem;
  margin-left: 525px;
  text-decoration: none;
}

.navigation-link:hover, #navigation-link-right:hover {
  text-decoration: underline;
}

/* Main content */
.top-header {
  text-align: center;
  color: #323237;
}

.main-content {
  margin-right: 30px;
  margin-left: 30px;
}

.text-box {
  width: 100%;
  padding: 10px 5px;
}

/* Footer - this needs to be improved so that it integrates into the webpage  
more seemlessly without being fixed to the bottom of the page */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E3E3E3;
  padding: 25px;
  text-align: center;
}