/* HTML */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Main Body */

.top-header .form-section-header {
  text-align: center;
  color: #323237;
}

.main-content {
  margin-right: 30px;
  margin-left: 30px;
}

.text-box {
  width: 100%;
  padding: 10px 5px;
}

/* Footer */ 

.grid_container__footer {
  grid-area: footer;
  width: 100%;
  background-color: #E3E3E3;
  text-align: center;
}