{% extends "layout.html" %}
{% block mainContent %}

  <h1 class="top-header">Dashboard</h1>
    <h2>Recently Added Patients</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for result in screener_instance %}
          <tr>
            <td>{{ result.last_name }}, {{ result.first_name }}</td>
            <td>{{ result.sex }}</td> 
            <td>{{result.last_updated}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}