{% extends "layout.html" %}
{% block mainContent %}

<div class="top-header">
  <h1>Section A - Add Patient Identification Information</h1>
</div>

<form action="/team4/identification_information" method="post" 
  enctype="application/x-www-form-urlencoded">
  <h3>Name</h3>
  <div class="form-group row">
    <label for="first-name" class="col-xs-2 col-form-label">First Name</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="first-name" name="first_name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="middle-initial" class="col-xs-2 col-form-label">Middle Initial</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="middle-initial" name="middle_initial">
    </div>
  </div>
  <div class="form-group row">
    <label for="last-name" class="col-xs-2 col-form-label">Last Name</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="last-name" name="last_name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="jr-sr" class="col-xs-2 col-form-label">Jr/Sr</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="jr-sr" name="jr_sr">
    </div>
  </div>
  <h3>Sex</h3>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-xs-2 pt-0">Sex</legend>
      <div class="col-xs-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="male" value="1">
          <label class="form-check-label" for="male">
            male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="female" value="2">
          <label class="form-check-label" for="female">
            female
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <h3>Birthdate</h3>
  <div class="form-group row">
    <label for="dob" class="col-xs-2 col-form-label">Birthdate</label>
    <div class="col-xs-10">
      <input class="datepicker" type="date" name="dob" id="dob">
    </div>
  </div>
  <h3 class="form-header">Numeric Identifiers</h3>
  <div class="form-group row">
    <label for="health-card-number" class="col-xs-2 col-form-label">Health Card Number</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="health-card-number" name="health_card_number">
    </div>
  </div>
  <div class="form-group row">
    <label for="province-or-territory-issued" class="col-xs-2 col-form-label">Province or Territory Issuing Health Card</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="province-or-territory-issued" name="province_or_territory_issued">
    </div>
  </div>
  <div class="form-group row">
    <label for="place-issued" class="col-xs-2 col-form-label">Case Record Number</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="case-record-number" name="case_record_number">
    </div>
  </div>
  <h3 class="form-header">Province or Territory and Postal Code of Usual Arrangement</h3>
  <div class="form-group row">
    <label for="province-or-territory" class="col-xs-2 col-form-label">Province or Territory</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="province-or-territory" name="province_or_territory">
    </div>
  </div>
  <div class="form-group row">
    <label for="postal-code" class="col-xs-2 col-form-label">Postal code of usual living arrangement</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="postal-code" name="postal_code">
    </div>
  </div>
  <h3 class="form-header">Facility/Agency Identifier</h3>
  <div class="form-group row">
    <label for="facility-or-agency-id" class="col-xs-2 col-form-label">Facility or Agency Identifier</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="facility-or-agency-id" name="facility_or_agency_id">
    </div>
  </div>
  <h3 class="form-header">Primary Language</h3>
  <div class="form-group row">
      <label for="primary-language">Primary Language</label>
      <div class="col-xs-10">
      <select id="primary-language-code" name="primary_language_code" class="form-control">
        <option value="eng" selected>English</option>
        <option value="fre">French</option>
      </select>
    </div>
    </div>
    <h3 class="form-header">Interpreter Need</h3>
    <div class="form-group row">
        <label for="interpreter-need">Interpreter Need</label>
        <div class="col-xs-10">
        <select id="interpreter-need" class="form-control" name="interpreter_need">
          <option value=0 selected>No</option>
          <option value=1>Yes</option>
        </select>
      </div>
      </div>
      <h3 class="form-header">Reasons for Referral/Presentation</h3>
      <div class="form-group row">
          <label for="reason-for-referral">Reasons for Referral/Presentation</label>
          <textarea class="form-control" rows="5" id="reasons-for-referral" name="reasons_for_referral"></textarea>
      </div>
      <div class="col-xs-10">
        <br />
          <button type="submit-id-info" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <br />
{% endblock %}