{% extends "layout.html" %}
{% block mainContent %}

<div>
  <h1 class=top-header>Home Page</h1>
  <div class="main-content">
    <h2>Primary Care Screener</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque, diam sodales faucibus consectetur, augue lorem vulputate turpis, ac consectetur nisi tortor ut ipsum. Etiam volutpat, odio vehicula viverra vulputate, nunc massa tempus nisl, vitae pulvinar orci quam eget dui. Praesent sed vulputate nisl. Sed lacinia, nibh at consequat tempor, velit nulla fermentum turpis, a hendrerit leo metus in nisi. Suspendisse potenti. Aenean nec iaculis risus, id ultrices ipsum. Sed non nisi tortor. Mauris a ligula posuere, sollicitudin ipsum vel, laoreet purus. Maecenas condimentum interdum ante quis laoreet. Donec et neque a ante dictum vestibulum. Fusce sed mi id est finibus maximus vitae quis odio. Quisque condimentum sodales ex, ac pellentesque enim imperdiet ut. Morbi ut pharetra ipsum. Aenean sagittis mattis sem, at cursus justo sodales ut.</p>
    <h2>Links</h2>
    <p>
      <a href="http://www.interrai.org/" target="_blank">interRAI Website</a>
    </p>
    <h2>Downloads</h2>
    <ul>
      <li><a href="/downloads/interRAI Preliminary Screener - Form and User Manual.pdf" 
        download="">interRAI Preliminary Screener - Form and User Manual</a></li>
    </ul>
  </div>
</div>

{% endblock %}