{% extends "layout.html" %}
{% block mainContent %}

<h2 class="form-section-header">Section B - Screener</h2>
  <h3>Search Patient</h3>
  <label>Name:</label>
  <input type="text" class="text-box" id="name" name="name">
  <form class="new-instance" action="/team4/screener_instance" method="post" enctype="application/x-www-form-urlencoded"></form>
  <h3 class="form-header">Cognitive Skills for Daily Decision Making</h3>
    <p class="description"><i>Making decisions regarding tasks of daily life -
      e.g., when to get up or have meals, which clothes to wear or 
      activities to do</i>
    </p>
    <select name="cognitive-skills">
        <option value="independent">Independent</option>
        <option value="modified-independent">Modified independent or any impairment</option>
    </select>
  <h3 class="form-header">Activities of Daily Living</h3>
    <p class="description"><i>Most dependent episode over last 24 hours. If
    ADL did not occur in the last 24 hours, code the most recent occurance.</i>
    </p>
  <h3 class="form-header">Dyspnea (Shortness of Breath)</h3>
    <select name="dyspnea">
        <option value="absence">Absence of symptom</option>
        <option value="absent-at-rest-moderate">Absent at rest, but present 
          when performed moderate activities
        </option>
        <option value="absent-at-rest-normal">Absent at rest, but present 
          when performed normal day-to-day activities
        </option>
        <option value="present-at-rest">Present at rest</option>
    </select>
  <h3 class="form-header">Self Reported Health</h3>
    <p class="description"><i>Ask, "In general, how would you rate your
      health?"</i>
    </p>
    <select name="self-reported-health">
        <option value="excellent">Excellent</option>
        <option value="good">Good</option>
        <option value="fair">Fair</option>
        <option value="poor">Poor</option>
        <option value="no-response">Could not (would not) respond</option>
    </select>
  <h3 class="form-header">Instability of Conditions</h3>
  <h3 class="form-header">Self-Reported Mood</h3>
    <p class="description"><i>Ask, "IN LAST 3 DAYS, have you felt sad,
      depressed, or hopeless?"</i>
    </p>
    <select name="self-reported-mood">
        <option value="no">No</option>
        <option value="yes">Yes</option>
        <option value="no-response">Could not (would not) respond</option>
    </select>
  <h3 class="form-header">Informal Helper Status</h3>
  <label for="male">Male</label>
    <input type="radio" class="radio" id="male" name="sex" value="male">
  </label>
  <label for="female">Female</label>
    <input type="radio" class="radio" id="female" name="sex" value="female"><br />
    <button type="submit" class="btn btn-primary">Submit</button>
  <br /><br />

{% endblock %}